* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Change later */
  height: 100vh;
  font-family: "Roboto", sans-serif;
  color: #05080A;

  display: grid;
  grid-template-rows: 150px 1fr;
  grid-template-columns: 300px 1fr;
  grid-template-areas: 
    "sidebar header"
    "sidebar article";
}

/* HEADER */
.header {
  padding: 0 50px 0 40px;
  box-shadow: 0 0 12px 0px rgb(148, 149, 150);

  grid-area: header;

  display: grid;
  grid-template-rows: 60px 1fr;
  align-items: center;

  z-index: 1;
}

.header-nav {
  display: grid;
  grid-auto-flow: column;
  gap: 30px;
  align-items: center;
  grid-template-columns: auto 1fr auto auto auto;
}

.header-nav > label {
  height: 24px;
}

.header-nav > p {
  font-weight: bold;
}

#search-bar {
  max-width: 700px;
  border-radius: 100px;
  border-style: none;
  background-color: #e2e7eb;
  
  align-self: stretch;

  padding-left: 12px;
  font-family: "Roboto", sans-serif;
  color: #05080A;
  font-size: 1em;
}

/* second row */
.header-info {
  display: grid;
  gap: 25px;
  grid-template-columns: 80px 1fr repeat(3, 100px);
  align-items: center;
}

.header-info > button {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
  background-color: #4C94BD;
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 100px;
}

/* SIDEBAR */
.sidebar {
  background-color: #4B93BD;
  color: #05080A;
  font-weight: medium;
  padding: 0 30px 0 30px;

  grid-area: sidebar;

  display: grid;
  gap: 40px;
  grid-template-rows: 150px auto auto 1fr;
  align-items: center;

  z-index: 2;
}

.logo {
  color: #05080A;
  font-weight: bold;
}

.sidebar-container {

  display: grid;
  gap: 15px;
}

.sidebar-container > div {
  font-size: 1.2em;

  display: grid;
  grid-auto-flow: column;
  gap: .5em;
  align-items: center;
  grid-template-columns: auto 1fr;
}

.utility {
  margin-top: 20px;
}

/* ARTICLE */
.article {
  background-color: #e2e7eb;
  padding: 30px 50px;
  overflow-y: scroll;


  grid-area: article;

  display: grid;
  grid-template: 350px 325px / 1fr 300px;
  gap: 30px 20px;
}

/* main content */
.main-content {
  grid-row-start: 1;
  grid-row-end: 3;

  display: grid;
  grid-template: 30px / 1fr;
  /* overflow-y: scroll; */
}

.main-content-container {
  display: grid;
  grid-template: repeat(3, 250px) / repeat(auto-fit, minmax(150px, 350px));
  grid-auto-rows: 100px;
  gap: 20px;
}

.main-content-container > div {
  background-color: #fff;
  border-radius: 5px;
  border-left: 5px solid rgb(238, 189, 53);
  padding: 20px;

  display: grid;
}

.main-content-container > div > p {
  font-weight: normal;
  color: grey;
  font-size: .9em;
}

.icon-container {
  place-self: end;

  display: grid;
  grid-auto-flow: column;
  gap: 20px;
}

/* announcements */
.announcement, .trending{
  display: grid;
  grid-template: 50px 1fr / 1fr;
}
/* trending */
.circle {
  width: 40px;
  height: 40px;
  background-color: grey;
  border-radius: 25px;
}

.trending-content > div {
  display: grid;
  grid-auto-flow: column;
  grid-template: 1fr / 40px 1fr;
  gap: 10px;
}

.trending-content > div > div {
  display: grid;
  align-items: center;
}

/* content-container */
.container {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: 1fr;
  align-items: center;


  background-color: #fff;
  padding: 0 20px;
  border-radius: 5px;

}

.container > div {
  /* margin-top: 25px; */
  /* border-bottom: 1.2px solid rgb(128, 128, 128, .5); */
}

.container > div:last-child {
  border-bottom: none;

}

.container > div > p {
  font-size: .8em;
  font-weight: normal;
  color: grey;
}



.hover {
  transition: all .2s ease;
}

.hover:hover {
  scale: 1.06;
}